<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Kubernetes!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <style>
      body { background-color: #2740f8; }
      body.v1-0 { background-color: #27a9f8; }
      body.v1-1 { background-color: #7727f8; }
      .jumbotron { padding: 8rem 2rem; margin-bottom: 0; }
      h1 { font-size: 5rem; }
      h1, h2, h3 { font-weight: normal; }
      footer { text-align: center; font-size: 10px; padding-bottom: 32px; background-color: #e9ecef; }
    </style>
  </head>
  <body class="v<%= @release.sub '.', '-' %>">
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1>Hello Kubernetes!</h1>
          <h2><strong>Hostname:</strong> <%= @hostname %></h2>
          <h2><strong>Release:</strong> <%= @release %></h2>
          <hr>
          <h3><%= @workshop unless @workshop.nil? %></h3>
          <h3>Delivered by <%= @trainer unless @trainer.nil? %> in <%= @location unless @location.nil? %></h3>
        </div>
      </div>
    </main>

    <footer>
      Sample Application - Kubernetes Workshop - Container Solutions
    </footer>
  </body>
</html>